:root {
  --main-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --our-team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --modal-button-background-color: #2196f3;
  --accent-color: #188ce8;
  --filter-button-color: #f5f4fa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: #212121;
}

/* HEADER */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio-dark {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-item:hover,
.menu-item:focus,
.header-contacts-item:hover,
.header-contacts-item:focus,
.footer-address:hover,
.footer-address:focus,
.footer-contacts-item:hover,
.footer-contacts-item:focus {
  cursor: pointer;
  color: #2196f3;
}

/* FOOTER */

.footer {
  background-color: var(--footer-background-color);
}
.studio-light {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* HERO */

.hero {
  background-color: var(--hero-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--modal-button-background-color);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/*ABOUT STUDIO*/
.particulars {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.particulars-title,
.filters-title,
.portfolio-title {
  opacity: 0;
}
.particulars-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-us-title,
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

/* PORTFOLIO */

.portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.filter-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--filter-button-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--modal-button-background-color);
  color: #ffffff;
}
